{% extends "base.html" %}

{% load i18n mezzanine_tags %}

{% block meta_title %}{% trans "Solution Detail" %}{% endblock %}
{% block title %}{% trans "Solution Detail" %}{% endblock %}
{% block extra_head %}
<meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="{% url "home" %}">{% trans "Home" %}</a>
</li>
<li class="active">{% trans "Details" %}</li>
{% endblock %}

{% block main %}

<h2>{% trans "Solutions" %}</h2>
<ul>
    {% for solution in solutions %}
        <li>
            <a href="/solutions/{{ solution.id }}">{{ solution.title }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}

