{% load i18n pages_tags %}

{% spaceless %}
{% if page_branch_in_menu %}
<ul class="nav nav-list navlist-menu-level-{{ branch_level }}">
  {% for page in page_branch %}
  {% if not has_home and page.is_primary and forloop.first %}
  <li{% if on_home %} class="active"{% endif %} id="tree-menu-home">
    <a href="{% url "home" %}">{% trans "Home" %}</a>
  </li>
  {% endif %}
  {% if page.in_menu %}
  <li class="
    {% if page.is_current %} active{% endif %}
    {% if page.is_current_or_ascendant %} active-branch{% endif %}
    " id="tree-menu-{{ page.html_id }}">
    <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
    {# wrap the next line with 'if page.is_current_or_ascendant' #}
    {# to only show child pages in the menu for the current page #}
    {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
  </li>
  {% endif %}
  {% endfor %}


  {% if request.user.is_authenticated %}
</hr>  
	{% for group in request.user.groups.all %}
	{% if group.name == "Training" %}
	You belong to "Bynet Training Group" showing Extra URLS 
	<li><a href="{{ '/%D7%94%D7%A1%D7%9E%D7%9B%D7%95%D7%AA/' }}">{% trans "Training" %}</a></li>   
  {%elif group.name == "Admins" %}
  <li><a href="{{ '/admin/' }}">Admin</a></li>  
  {%elif group.name == "Bynet" %}
	{%else%}
  <!-- No action for {{ group.name }} -->
  {% endif %}
	{% endfor %}
  <!-- <li><a href="{{ "/accounts/logout/" }}">{% trans "Logout" %}</a></li> -->
{% else %}	
<!-- <li><a href="{{ "/accounts/login/?next=/" }}">{% trans "Login" %}</a></li> -->
{% include "includes/user_panel.html" %}
{% endif %}


</ul>
{% endif %}

{% endspaceless %}
